

.email-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 16px;
    cursor: pointer;
    
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
    width: 180px;
    height: 100px;
}

.email-container:hover {
    transform: scale(1.05);
}

.unread {
    background-color: white;
}

.read {
    background-color: red;
}


p {
    font-size: 10px;
    padding: 0;
}